{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <title>Tambah Matkul</title>
{% endblock head %}

{% block content %}
    <div class="main-con">
        <h1>Tambahkan Matkul</h1>
        <form action="." method="POST">
        
        {% csrf_token %}
        {{ form|crispy }}

        <input class="TBD TBD2" type="submit" value="Submit"/>
        </form>
    </div>
{% endblock content %}