{% load static %}
<html>
    <head>
        {% block head %}
        
        {% endblock head %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <ul>
            <li><a href="{% url 'form' %}">Form</a></li>
            <li><a href="{% url 'table' %}">Table</a></li>
        </ul>
        {% block content %}

        {% endblock content %}
    </body>
</html>