{% extends "base.html" %}
{% load static %}
{% block head %}
    <title>Mata Kuliah</title>
{% endblock head %}

{% block content %}
    <div class="main-con">
        <h1>Mata Kuliah Saya</h1>
        <br>
        <br>
        <button class="TBD TBD1" href="{% url 'addMatkul' %}">Tambah Matkul</button>
        <div class="sub-con1">
            <div class="sub-con2">
                {% for objects in obj %}
                <div class="matkul">
                    <h4 class="nama-matkul">{{objects.name}}</h4>
                <div class="isi-matkul">
                    <h5>{{objects.lecturer}}</h5>
                    <h5>{{objects.description}}</h5>
                    <button class="TBD TBD2" href="{% url 'table' id = objects.id %}">Tentang Matkul</button>
                    <button class="TBD TBD3" href="{% url 'byeMatkul' id = objects.id %}">Hapus Matkul</button>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}