{% extends "base.html" %}
{% load static %}
{% block head %}
    <title>Detail Mata Kuliah</title>
{% endblock head %}

{% block content %}
    <div class="main-con">
        <h3>{{objects.name}}</h3>
        <h4>Lecturer</h4>
        <h5>{{objects.lecturer}}</h5>
        <h4>SKS Count</h4>
        <h5>{{objects.sks}}</h5>
        <h4>Room</h4>
        <h5>{{objects.room}}</h5>
        <h4>Description</h4>
        <h5>{{objects.description}}</h5>
        <button class="TBD TBD2" href="{% url 'form' %}">Kembali</button>
        <button class="TBD TBD3" href="{% url 'byeMatkul' id=objects.id %}">Hapus</button>
    </div>
{% endblock content %}